* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    height: 6vh;
    background-color: rgb(0, 95, 196);
}

.title {
    margin: 1.5vh 0 0 5vh;
    color: white;
    font-weight: bold;
    float: left;
}

.links {
    margin: 1.65vh 5vh 0 0;
    float: right;
    flex-direction: row;
}

.links a {
    color: white;
    font-weight: medium;
    font-size: 1.5em;
    text-decoration: none;
    margin: 0 1vh;
}

.links a:hover {
    color: white;
}

.content {
    margin: 30px auto;
    width: 80%;
}

.chatTitle {
    margin: 1rem 0;
}

.chatContent {
    display: block;
}

.message {
    font-size: 16px;
    padding: 8px 12px;
}

.sender {
    clear: both;
    float: right;
    margin-top: 1rem;
    margin-right: 2rem;
}

.receiver {
    clear: both;
    display: block;
    float: left;
    margin-top: 1rem;
    margin-left: 2rem;
}

.chatForm {
    clear: both;
}