* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    height: 80px;
}

.title {
    margin: 22px 0 0 75px;
    color: white;
    font-weight: bold;
    float: left;
}

.links {
    margin: 23px 75px 0 0;
    float: right;
    flex-direction: row;
}

.links a {
    color: white;
    font-weight: medium;
    font-size: 1.5em;
    text-decoration: none;
    margin: 0 1vh;
}

.links a:hover {
    color: white;
}

body {
    background-color: #e8e8e8;
}

body .spacer {
    height: 1vh;
}

.content {
    margin: 30px auto;
    width: 90%;
}

.material-symbols-outlined {
    font-size: 48px;
    padding: 0;
}

.postButton {
    position: fixed;
    right: 32px;
    bottom: 32px;
}

.post {
    margin: 20px 0;
}

.post .postUser {
    padding: 25px 20px 5px 20px;
}

.post .postTitle {
    padding: 0 20px;
}

.post .postMsg {
    padding: 0 20px 10px 20px;
}